.contacts__tel {
  margin: 0 0 28px;
  padding: 10px;
  display: block;
  text-decoration: none;
  line-height: 18px;
  color: #666666;
  max-width: 219px;
  box-sizing: border-box;
}

.contacts__tel:hover {
  color: var(--hover-text-color);
}